@charset "utf-8";

.is-ie section .inner main .nav {
    text-align: center;
}
.is-ie section .inner main .nav li {
    display: inline-block;
}
.is-ie section .inner main .nav li a {
    display: inline-block;
    height: 100%;
}
.is-ie section .inner main .content .monthly .category {
    text-align: right;
    width: 100%;
    height: 40px;
}
.is-ie section .inner main .content .monthly .category li {
    display: inline-block;
}
.is-ie section .inner main .content .monthly #calendar .fc-col-header-cell,
.is-ie section .inner main .content .monthly #calendar .fc-daygrid-day,
.is-ie section .inner main .content .today .bottom {
    display: block;
} 
.is-ie section .inner main .content .today .bottom .day {
    display: block;
    float: left;
    margin-right: 60px;
}
.is-ie section .inner main .content .today .bottom .day span:nth-child(2) {
    display: inline-block;
    margin: 15px 0;
}
.is-ie section .inner main .content .today .bottom .todayExhiList {
    display: block;
    float: left;
    /* width: 606px; */
}
.is-ie section .inner main .content .today .bottom .exhiScroll .exhilist .cg {
    float: left;
}
.is-ie section .inner main .content .today .bottom .exhiScroll .exhilist .right {
    display: inline-block;
}
.is-ie section .inner main .content .today .bottom .exhiView {
    display: block;
    float: right;
}
.is-ie section .inner main .content .today .bottom .exhiView .exhi .info li span:first-child {
    width: 25%;
    float: left;
}
.is-ie section .inner main .content .today .bottom .exhiView .exhi .info li span:last-child{
    width: 75%;
    display: inline-block;
}
.is-ie section .inner main .content .today .bottom .todayExhiList .scrollBt {
    width: 30px;
    height: 30px;
    transform: none;
}
.is-ie section .inner main .content .today .bottom .todayExhiList .scrollBt svg {
    width: 30px;
    height: 30px;
    fill: #878787;
}
.is-ie section .inner main .content .today .bottom .exhiView .exhi {
    width: 320px;
    height: 535px;
}