@charset "utf-8";

.is-ie section .inner aside,
.is-ie section .inner main #tab1.conBox .bottom .textbox h3,
.is-ie section .inner main #tab1.conBox .bottom .textbox dl,
.is-ie section .inner main #tab2.conBox .textbox dl,
.is-ie section .inner main #tab2.conBox .textbox .left,
.is-ie section .inner main #tab2.conBox .textbox .right,
.is-ie section .inner main #tab3.conBox .layoutbox .textbox {
    float: left;
}

.is-ie section .inner main,
.is-ie section .inner main #tab3.conBox .layoutbox .layoutimg {
    float: right;
}

.is-ie section .inner main .nav {
    height: auto;
    display: block;
}

.is-ie section .inner main .nav li {
    float: left;
    height: 60px;
    margin-right: 60px;
}

.is-ie section .inner main .nav li a {
    height: 100%;
    display: inline-block;
}

.is-ie section .inner main .conBox#tab1 .top #map {
    width: 100%;
    height: 600px;
    background: url(/image/map.JPG) 0 0 no-repeat;
}

@media screen and (max-width:768px) {
    .is-ie section .inner main .nav {
        height: 37px;
        overflow-x: hidden;
        white-space: nowrap;
    }

    .is-ie section .inner main .nav li {
        height: 35px;
        margin-right: 10px;
        float: none;
        display: inline-block;
    }

    .is-ie section .inner main #tab1.conBox .top #map {
        height: 125px;
        margin-bottom: 20px;
    }
    .is-ie section .inner main .conBox#tab3 .layoutbox .textbox {
        height: 50%;
    }
    .is-ie section .inner main .conBox#tab3 .layoutbox .textbox ul li {
        width: 50%;
        float: left;
    }

    .is-ie section .inner main #tab1.conBox .bottom .textbox h3,
    .is-ie section .inner main #tab1.conBox .bottom .textbox dl {
        float: left;
    }
    .is-ie section .inner main #tab1.conBox .bottom .textbox h3 {
        width: 30%;
    }
    .is-ie section .inner main #tab1.conBox .bottom .textbox dl {
        width: 70%;
    }
}