body {
    min-width: 280px;
}
.header-wrap {
    min-width: 320px;
    width: 100%;
    max-width: 768px;
}
.header-wrap.on {
    height: 100vh;
    position: fixed;
}
.header-wrap .gnb {
    height: 80px;
    padding: 20px;
}
.header-wrap .gnb.on {
    height: 100vh;
    background:rgba(0, 0, 0, 0.9);
}
.header-wrap .gnb .logo {
    width: 135px;
    height: 40px;
    background-position: center;
    background-size: contain;
}
.header-wrap .gnb .navGroup .nav {
    display: none;
}
.header-wrap .gnb .navGroup .nav.on {
    display: block;
    width: 100vw;
    height: calc(100vh - 80px);
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 900;
    padding: 20px 0;
}
.header-wrap .gnb .navGroup .nav.on > li {
    /* text-align: left; */
    padding-bottom: 20px;
    height: auto;
}
.header-wrap .gnb .navGroup .nav.on > li .gnb-sub {
    display: none;
    position: relative;
    top: 0px;
    margin-top: 10px;
}
.header-wrap .gnb .navGroup .iconGroup {
    width: 60px;
}
.header-wrap .gnb .navGroup .iconGroup span {
    display: none;
}
.header-wrap .gnb .navGroup .iconGroup span.mMenuBt {
    display: inline-block;
    padding: 5px;
    font-size: 20px;
    width: 20px;
    height: 20px;
    position: relative;
}
.header-wrap .gnb .navGroup .iconGroup span.mMenuBt:before {
    position: absolute;
    top: 0;
    left: 0;
}
.swiper,
.swiper-wrapper {
    width: 100vw;
    min-width: 320px;
    max-width: 768px;
    margin: 0;
    min-height: 510px;
}
.swiper-wrapper .swiper-slide {
    width: 320px;
    min-width: 320px;
    max-width: 768px;
    height: 100vh;
}
.swiper-wrapper .swiper-slide:nth-child(1) {
    background: url(/image/main_slide1.jpg) 20% 0 no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}
.swiper-wrapper .swiper-slide:nth-child(2) {
    background: url(/image/main_slide2.jpg) 50% 0 no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}
.swiper-wrapper .swiper-slide:nth-child(3) {
    background: url(/image/main_slide3.jpg) 20% 0 no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}
.swiper-wrapper .swiper-slide:nth-child(4) {
    background: url(/image/main_slide4.jpg) 40% 0 no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}
.swiper-wrapper .swiper-slide:nth-child(5) {
    background: url(/image/main_slide5.jpg) 65% 0 no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}
.swiper-wrapper .swiper-slide:nth-child(6) {
    background: url(/image/main_slide6.jpg) 30% 0 no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.4);
    background-blend-mode: darken;
}
.swiper-slide .inner {
    width: 90%;
    min-width: 240px;
    /* max-width: 780px; */
}
.swiper-slide .content {
    padding-top: 70%;
}
.swiper-slide .content .text h1 {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 25px;
}
.swiper-slide .content .text h1 span {
    font-size: 20px;
}
.swiper-slide .content .text p {
    font-size: 15px;
    line-height: 30px;
}
.swiper .sponsorinner {
    width: 90%;
    min-width: 240px;
    max-width: 768px;
    height: 150px;
    margin-bottom: 20%;
}
.swiper .sponsorinner .sponsorship {
    margin-top: 10px;
    width: 90vw;
    min-width: 280px;
    max-width: 768px;
    justify-content: center;
}
.swiper .sponsorinner .sponsorship .select_box,
.swiper .sponsorinner .sponsorship .input
 {
    display: none;
}
.swiper .sponsorinner .sponsorship .supportBt {
    width: 100px;
    height: 30px;
    font-size: 13px;
}
.swiper-pagination-bullets.swiper-pagination-bullets-dynamic {
    bottom: 30px;
}
.swiper .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    margin: 0 5px;
}
.sec {
    width: 100vw;
    min-width: 320px;
    max-width: 768px;
    padding: 40px 0;
}
.sec .inner {
    min-width: 280px;
    width: 90vw;
    max-width: 768px;
    height: unset;
}
.sec .inner h3 {
    font-size: 23px;
    margin-bottom: 30px;
}
.sec.dashboard {
    height: unset;
}
.sec.dashboard .inner .content {
    height: unset;
    flex-direction: column;
}
.sec.dashboard .inner .content .left {
    margin-bottom: 20px;
}
.sec.dashboard .inner .content .left .tabs {
    flex-direction: column;
}
.sec.sec.dashboard .inner .content .left .tab-button-outer {
    display: none;
}
.sec.dashboard .inner .content .left .tab-select-outer {
    display: block;
    margin: 20px 20px 0 20px;
}
.sec.dashboard .inner .content .left .tab-contents {
    width: 100%;
    min-height: 330px;
    padding: 20px;
}
.sec.dashboard .inner .content h4 {
    font-size: 13px;
    word-wrap: break-word;
    word-break: keep-all;
    margin-bottom: 20px;
}
.sec.dashboard .inner .content #lineChart {
    width: 100% !important;
    height: 100% !important;
}
.sec.dashboard .inner .content .right {
    width: unset;
    padding: 20px;
}
.sec.dashboard .inner .content .right .select_box.year .box {
    width: 60px;
    height: 20px;
    border-radius: 5px;
}
.sec.dashboard .inner .content .select_box.year .box .select {
    height: 20px;
    padding: 0 5px;
    font-size: 13px;
    line-height: 20px;
}
.sec.dashboard .inner .content .select_box.year .box .select:after {
    font-size: 13px;
    right: 5px;
}
.sec.dashboard .inner .content .select_box.year .box .list {
    top: 20px;
    border-radius: 0 0 5px 5px;
}
.sec.dashboard .inner .content .select_box.year .box .list>li {
    height: 20px;
    padding: 0 5px;
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 5px;
}
.sec.dashboard .inner .content .right .title h4 {
    padding-left: 5px;
    margin-bottom: 0px;
}
.sec.dashboard .inner .content .right .counter {
    font-size: 25px;
    line-height: 40px;
}
.sec.dashboard .inner .content .right .percentage {
    font-size: 18px;
    margin-bottom: 20px;
}
.sec.dashboard .inner .content .right .percentage::before {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid var(--theme-color);
    left: 100px;
    bottom: 8px;
}
.sec.dashboard .inner .content .right .field h5 {
    font-size: 13px;
    margin-bottom: 20px;
    color: var(--font-color);
}

.sec.donate {
    height: 100vh;
    background: url(/image/mainweb_1560417456602.jpg) 50% 0 no-repeat;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: darken;
}
.sec.donate .inner {
    width: 90%;;
    min-width: 250px;
    max-width: 320px;
    height: unset;
    padding: 20px;
    margin: unset;
    /* top: 70%; */
}
.sec.donate .top,
.sec.donate .bottom {
    flex-wrap: wrap;
    /* justify-content: start; */
}
.sec.donate .box {
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    padding: 25px 18px;
    margin: 0 0px 20px 0;
}
.sec.donate .box.one {
    width: 100%;
    /* margin-right: 390px; */
}
.sec.donate .box .icon {
    width: 30px;
    height: 30px;
    font-size: 20px;
}
.sec.donate .box span {
    font-size: 14px;
}
.sec.donate .box p {
    display: none;
}

.sec.value {
    height: unset;
}
.sec.value .inner .content {
    height: unset;
}
.sec.value .inner .content .box {
    height: unset;
    flex-direction: column;
}
.sec.value .inner .content .box:nth-child(2) {
    flex-direction: column;
}
.sec.value .inner .content .box .textbox {
    width: 100%;
    padding: 0px;
    margin-bottom: 10px;
}
.sec.value .inner .content .box .textbox h4 {
    font-size: 25px;
}
.sec.value .inner .content .box .textbox h5 {
    font-size: 18px;
    margin: 15px 0 10px 0;
}
.sec.value .inner .content .box .textbox p {
    font-size: 15px;
}
.sec.value .inner .content .box .img {
    width: 100%;
    height: 200px;
    margin-bottom: 25px;
}

.btGroup {
    display: none;
}

footer {
    width: 100vw;
    min-width: 320px;
}
footer .inner {
    width: 90%;
}
footer .inner li {
    margin-right: 10px;
    padding-right: 10px;
}
footer .inner li:after {
    height: 8px;
    top: 25%;
}
footer .inner li a,
footer .inner span
 {
    font-size: 12px;
}
footer .inner .top .sns {
    margin-bottom: 10px;
    /* float: none; */
    display: block;
    width: 100%;
}
footer .inner .top .familysite {
    float: none;
    display: block;
    font-size: 12px;
}
footer .inner .top .familysite .global {
    float: none;
    display: inline-block;
    margin-bottom: 10px;
}
footer .inner .top .familysite .family {
    float: none;
    display: inline-block;
}
footer .inner .middle li a, 
footer .inner .bottom li a,
footer .inner .top .select_box .box .select
 {
    font-size: 12px;
}
footer .inner .top .select_box.family .box .list {
    left: 0;
    width: 350px;
    overflow-x: scroll;
}
footer .inner .middle li, footer .inner .bottom li {
    margin-right: 10px;
    padding-right: 10px;
}